@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Music Panel</h2>
<a class="btn btn-outline-primary" asp-controller="Music" asp-action="CreateMusic">Create New</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Music</th>
            <th scope="col">Artist</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Musics)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Artist.Name</td>
                <td>
                    <a asp-controller="Music" asp-action="EditMusic" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Music" asp-action="DeleteMusic" asp-route-id="@item.Id">Delete</a> 
                    
                </td>
            </tr>
        }

       
    </tbody>
</table>